@import url(./__line/header__line.css);

.header {
    max-width: 880px;
    margin: 0 auto 62px auto;
}

@media screen and (max-width: 958px) {
    .header {
        max-width: 770px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 320px;
        margin-bottom: 26.25px;
    }
}