.profile__title {
    max-width: 373px;
    align-self: center;
    /*display: inline-block;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}

@media screen and (max-width: 958px) {
    .profile__title {
        font-size: 22px;
        line-height: 38px;
       /* margin: 12px 0 12px 0;*/
    }
}

@media screen and (max-width: 425px) {
    .profile__title {
        /*margin: 26.25px 0 14px 0;
        max-width: 196px;
        font-size: 22px;
        line-height: 27px;*/
    }
}