.form__input {
    margin: 0 auto;
    width: 358px;
    padding: 13.26px 0 13.26px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 958px) {
    .form__input {
        width: 330px;
    }
}

@media screen and (max-width: 425px) {
    .form__input {
        width: 238px;
        padding: 13px 0 13px 0;
    }
}