.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-gap: 17px;
    max-width: 880px;
    margin: 0 auto 67px auto;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}