.profile__info {
    max-width: 415px;
    display: grid;
    grid-template-columns: 373px 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
}

@media screen and (max-width: 958px) {
    .profile__info {
        margin-left: auto;
        grid-template-columns: 273px 1fr;
    }
}

@media screen and (max-width: 425px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        max-width: 282px;
        margin: 0 auto;
    }
}